#test-container {
	height: 2000px;
	position: relative;
	padding: 8px 15px;
  background: #f8f8f8;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  overflow-x: auto;	
}

.result {
	font-weight: bold;
}
#selector-A, #selector-B {
	position: absolute;
	width: 30%;
	height: 200px;
	background-color: #e74c3c;
}

#selector-A {
	top: 1000px;
	left: 15%;
}

#selector-B {
	top: 1000px;
	right: 15%;
}

#selector-A.visible, #selector-B.visible {
	background-color: #2ecc71;
}

#selector-A-line {
	left: 0;
	bottom: 175px;
	position: fixed;
	width: 100vw;
	border-bottom: solid 2px #f39c12;
	padding: 0px 20px;
}

#selector-B-line {
	left: 0;
	bottom: 100px;
	position: fixed;
	width: 100vw;
	border-bottom: solid 2px #2980b9;
	padding: 0px 20px;
}

